In [1]:
from sqlalchemy import create_engine, select, Column, Integer, String, Date, ForeignKey, PrimaryKeyConstraint
from sqlalchemy.orm import sessionmaker, relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, MetaData, Table

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
engine = create_engine(db_string)

metadata = MetaData()

dic_table = {}
for table_name in engine.table_names():
    dic_table[table_name] = Table(table_name, metadata , autoload=True, autoload_with=engine)

session = (sessionmaker(bind=engine))()

Base = declarative_base()

C:\Users\User\AppData\Local\Temp/ipykernel_9416/3736875471.py:12: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  for table_name in engine.table_names():

In [2]:
class Country(Base):
    __tablename__ = 'country'
    country_id  = Column(Integer, primary_key=True)
    country = Column(String(50))
    last_update  = Column(Date)
    def __str__(self):
        return 'Country id:{0}\n Country name: {1}\n Country last_update: {2}'.format(self.country_id,self.country,self.last_update)


class City(Base):
    __tablename__ = 'city'
    city_id  = Column(Integer, primary_key=True)
    city = Column(String(50))
    country_id =  Column(Integer, ForeignKey('country.country_id'))
    last_update  = Column(Date) 
    def __str__(self):
        return 'City id:{0}\n City city: {1}\n City country_id: {2}'.format(self.city_id,self.city,self.country_id)

class Address(Base):
    __tablename__ = 'address'
    address_id = Column(Integer, primary_key=True)
    address = Column(String(50))
    address2 = Column(String(50))
    district = Column(String(50))
    city_id  = Column(Integer,  ForeignKey('city.city_id'))
    postal_code = Column(String(10))
    phone = Column(String(50))
    last_update  = Column(Date)

In [3]:
mapper_stmt = select([dic_table['city'],dic_table['country']]).select_from(dic_table['city'].join(dic_table['country'], dic_table['city'].c.country_id == dic_table['country'].c.country_id ))
print('Mapper join: ')
print(mapper_stmt)

session_stmt =session.query(Country,City).join(City)
print('\nSession join: ')
print(session_stmt)

Mapper join:
SELECT city.city_id, city.city, city.country_id, city.last_update, country.country_id AS country_id_1, country.country, country.last_update AS last_update_1
FROM city JOIN country ON city.country_id = country.country_id

Session join:
SELECT country.country_id AS country_country_id, country.country AS country_country, country.last_update AS country_last_update, city.city_id AS city_city_id, city.city AS city_city, city.country_id AS city_country_id, city.last_update AS city_last_update
FROM country JOIN city ON country.country_id = city.country_id

In [4]:
mapper_stmt = select([dic_table['city'],dic_table['country']]).select_from(dic_table['city'].join(dic_table['country'], dic_table['city'].c.country_id == dic_table['country'].c.country_id ))
print('Mapper join: ')
print(mapper_stmt)

session_stmt =session.query(City,Country).join(Country)
print('\nSession join: ')
print(session_stmt)

Mapper join:
SELECT city.city_id, city.city, city.country_id, city.last_update, country.country_id AS country_id_1, country.country, country.last_update AS last_update_1
FROM city JOIN country ON city.country_id = country.country_id

Session join:
SELECT city.city_id AS city_city_id, city.city AS city_city, city.country_id AS city_country_id, city.last_update AS city_last_update, country.country_id AS country_country_id, country.country AS country_country, country.last_update AS country_last_update
FROM city JOIN country ON country.country_id = city.country_id

In [5]:
mapper_results = engine.execute(mapper_stmt).fetchmany(size=5)
mapper_results

[(1, 'A Corua (La Corua)', 87, datetime.datetime(2006, 2, 15, 9, 45, 25), 87, 'Spain', datetime.datetime(2006, 2, 15, 9, 44)),
 (2, 'Abha', 82, datetime.datetime(2006, 2, 15, 9, 45, 25), 82, 'Saudi Arabia', datetime.datetime(2006, 2, 15, 9, 44)),
 (3, 'Abu Dhabi', 101, datetime.datetime(2006, 2, 15, 9, 45, 25), 101, 'United Arab Emirates', datetime.datetime(2006, 2, 15, 9, 44)),
 (4, 'Acua', 60, datetime.datetime(2006, 2, 15, 9, 45, 25), 60, 'Mexico', datetime.datetime(2006, 2, 15, 9, 44)),
 (5, 'Adana', 97, datetime.datetime(2006, 2, 15, 9, 45, 25), 97, 'Turkey', datetime.datetime(2006, 2, 15, 9, 44))]

In [6]:
session_results = session_stmt.all()
print(session_results[0][0])
print('\n')
print(session_results[0][1])

City id:1
 City city: A Corua (La Corua)
 City country_id: 87


Country id:87
 Country name: Spain
 Country last_update: 2006-02-15 09:44:00

In [7]:
mapper_stmt = select([dic_table['city']]).\
select_from(\
dic_table['city'].join(\
dic_table['country'], dic_table['city'].c.country_id == dic_table['country'].c.country_id\
).join(\
dic_table['address'], dic_table['city'].c.city_id == dic_table['address'].c.city_id)\
)

session_stmt = session.query(Country,City,Address).\
join(City, Country.country_id == City.country_id).\
join(Address, Address.city_id == City.city_id)

print(session_stmt)

SELECT country.country_id AS country_country_id, country.country AS country_country, country.last_update AS country_last_update, city.city_id AS city_city_id, city.city AS city_city, city.country_id AS city_country_id, city.last_update AS city_last_update, address.address_id AS address_address_id, address.address AS address_address, address.address2 AS address_address2, address.district AS address_district, address.city_id AS address_city_id, address.postal_code AS address_postal_code, address.phone AS address_phone, address.last_update AS address_last_update
FROM country JOIN city ON country.country_id = city.country_id JOIN address ON address.city_id = city.city_id

In [8]:
mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name]).where(dic_table['category'].columns.name == 'Games')
mapper_results = engine.execute(mapper_stmt).fetchmany(size=5)
mapper_results

[(10, 'Games')]

In [1]:
from sqlalchemy import create_engine, ForeignKey, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, sessionmaker

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
engine = create_engine(db_string)
Base = declarative_base()
Session = sessionmaker(bind = engine)
session = Session()

class User(Base):
   __tablename__ = 'users'
   id = Column(Integer, primary_key = True)
#    name = Column(String)
#    address = Column(String)
   email = Column(String)
   def __str__(self):
       return 'User email: {}\n'.format(self.email)

In [2]:
from sqlalchemy import create_engine, MetaData, Table
metadata = MetaData()
table_customer = Table('users', metadata , autoload=True, autoload_with=engine)
print(table_customer.columns.keys())

['id', 'email']

In [3]:
from sqlalchemy import create_engine, MetaData, Table
metadata = MetaData()
table_customer = Table('posts', metadata , autoload=True, autoload_with=engine)
print(table_customer.columns.keys())

['id', 'user_id', 'post_text']

In [4]:
class Post(Base):
   __tablename__ = 'posts'
   
   id = Column(Integer, primary_key = True)
   user_id = Column(Integer, ForeignKey('users.id'))
   post_text = Column(String(100))
   users = relationship("User", back_populates = "posts")
   def __str__(self):
       return 'Post id {}\n user_id: {}\n Post: {}\n'.format(self.id,self.user_id,self.post_text)

In [5]:
User.posts = relationship("Post", order_by = Post.id, back_populates = "users")
Base.metadata.create_all(engine)

In [6]:
data_set = [
    User(
      #   name = "Anna Mała", 
      #   address = "Small Place", 
        email = "am@gmail.com",
        posts = [Post(post_text= 'Omnia vincit Amor'), Post(post_text = 'Cogito ergo sum')]
        ),
   User(
      # name = "Marta Kwas", 
      # address = "Acid avenue", 
      email = "acidM@gmail.com", 
      posts = [Post(post_text= 'You see, in this world there\'s two kinds of people, my friend: Those with loaded guns and those who dig. You dig.'), Post(post_text= 'I\'m gonna make him an offer he can\'t refuse.')]
      ),
   User(
      # name = "Zofia Pompa", 
      # address = "Water street", 
      email = "zpws@gmail.com",
      posts = [Post(post_text= 'Not all those who wander are lost.'), Post(post_text= 'The Answer to the ultimate question of Life, The Universe and Everything is…42!')]
      )
]

session.add_all(data_set)
session.commit()

In [7]:
result = session.query(User).join(Post).all()
print(result)

[<__main__.User object at 0x0000019C48159790>, <__main__.User object at 0x0000019C481595E0>, <__main__.User object at 0x0000019C481597C0>, <__main__.User object at 0x0000019C48159910>, <__main__.User object at 0x0000019C48159970>, <__main__.User object at 0x0000019C481599D0>, <__main__.User object at 0x0000019C48159A30>, <__main__.User object at 0x0000019C48159A90>, <__main__.User object at 0x0000019C48159AF0>, <__main__.User object at 0x0000019C480FF5B0>, <__main__.User object at 0x0000019C48118E20>, <__main__.User object at 0x0000019C481360A0>]

In [8]:
for user in result:
    print(user)
    for post in user.posts:
        print(post)

User email: am@gmail.com

Post id 1
 user_id: 1
 Post: Omnia vincit Amor

Post id 2
 user_id: 1
 Post: Cogito ergo sum

User email: acidM@gmail.com

Post id 3
 user_id: 2
 Post: You see, in this world there's two kinds of people, my friend: Those with loaded guns and those who dig. You dig.

Post id 4
 user_id: 2
 Post: I'm gonna make him an offer he can't refuse.

User email: zpws@gmail.com

Post id 5
 user_id: 3
 Post: Not all those who wander are lost.

Post id 6
 user_id: 3
 Post: The Answer to the ultimate question of Life, The Universe and Everything is…42!

User email: am@gmail.com

Post id 7
 user_id: 4
 Post: Omnia vincit Amor

Post id 8
 user_id: 4
 Post: Cogito ergo sum

User email: acidM@gmail.com

Post id 9
 user_id: 5
 Post: You see, in this world there's two kinds of people, my friend: Those with loaded guns and those who dig. You dig.

Post id 10
 user_id: 5
 Post: I'm gonna make him an offer he can't refuse.

User email: zpws@gmail.com

Post id 11
 user_id: 6
 Post: Not all those who wander are lost.

Post id 12
 user_id: 6
 Post: The Answer to the ultimate question of Life, The Universe and Everything is…42!

User email: am@gmail.com

Post id 13
 user_id: 7
 Post: Omnia vincit Amor

Post id 14
 user_id: 7
 Post: Cogito ergo sum

User email: acidM@gmail.com

Post id 15
 user_id: 8
 Post: You see, in this world there's two kinds of people, my friend: Those with loaded guns and those who dig. You dig.

Post id 16
 user_id: 8
 Post: I'm gonna make him an offer he can't refuse.

User email: zpws@gmail.com

Post id 17
 user_id: 9
 Post: Not all those who wander are lost.

Post id 18
 user_id: 9
 Post: The Answer to the ultimate question of Life, The Universe and Everything is…42!

User email: am@gmail.com

Post id 19
 user_id: 10
 Post: Omnia vincit Amor

Post id 20
 user_id: 10
 Post: Cogito ergo sum

User email: acidM@gmail.com

Post id 21
 user_id: 11
 Post: You see, in this world there's two kinds of people, my friend: Those with loaded guns and those who dig. You dig.

Post id 22
 user_id: 11
 Post: I'm gonna make him an offer he can't refuse.

User email: zpws@gmail.com

Post id 23
 user_id: 12
 Post: Not all those who wander are lost.

Post id 24
 user_id: 12
 Post: The Answer to the ultimate question of Life, The Universe and Everything is…42!