In [1]:
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, ForeignKey

metadata = MetaData()

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
db = create_engine(db_string)

db_string1 = "mysql://bauer1:W0JjW9jge2SYwwYh@mysql.agh.edu.pl:3306/bauer1"
db1 = create_engine(db_string1)

In [2]:
session = (sessionmaker(bind=db))()
session1 = (sessionmaker(bind=db1))()
Base = declarative_base()

### <span style='color:Yellow'> 1. View a list of the names and surnames of managers living in the same country and working in the same store.  </span>

In [3]:
table_store= Table('staff', metadata , autoload=True, autoload_with=db)

print(table_store.columns.keys())

['staff_id', 'first_name', 'last_name', 'address_id', 'email', 'store_id', 'active', 'username', 'password', 'last_update', 'picture']

In [4]:
stmt = 'select * from staff'
result = db.execute(stmt).fetchall()
result

[(1, 'Mike', 'Hillyer', 3, 'Mike.Hillyer@sakilastaff.com', 1, True, 'Mike', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), <memory at 0x000001CE7AD9BF40>),
 (2, 'Jon', 'Stephens', 4, 'Jon.Stephens@sakilastaff.com', 2, True, 'Jon', '8cb2237d0679ca88db6464eac60da96345513964', datetime.datetime(2006, 5, 16, 16, 13, 11, 793280), None)]

### <span style='color:Yellow'> 2. Find a list of all movies of the same length.  </span>

In [3]:
table_store= Table('film', metadata , autoload=True, autoload_with=db)

print(table_store.columns.keys())

['film_id', 'title', 'description', 'release_year', 'language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'last_update', 'special_features', 'fulltext']

In [4]:
class Film(Base):
    __tablename__ = 'film'
    film_id  = Column(Integer, primary_key=True)
    title = Column(String(100))
    length  = Column(Integer)
    def __str__(self):
        return 'Film id:{0}\n Film title: {1}\n Film length: {2}'.format(self.film_id,self.title,self.length)

In [34]:
session_stmt = session.query(Film.title, Film.length).group_by(Film.length)
print(session_stmt)
# session_result

SELECT film.title AS film_title, film.length AS film_length
FROM film GROUP BY film.length

In [18]:
stmt = 'select count(title), length from film group by length'
print(stmt)
result = db.execute(stmt).fetchall()
result

select count(title), length from film group by length

[(7, 129),
 (6, 106),
 (9, 120),
 (8, 171),
 (6, 138),
 (10, 80),
 (13, 179),
 (6, 54),
 (9, 103),
 (7, 47),
 (7, 115),
 (7, 148),
 (9, 110),
 (6, 175),
 (5, 46),
 (8, 99),
 (11, 48),
 (6, 83),
 (4, 94),
 (6, 174),
 (7, 151),
 (6, 77),
 (7, 125),
 (5, 140),
 (5, 162),
 (6, 119),
 (9, 153),
 (12, 73),
 (2, 95),
 (6, 182),
 (11, 122),
 (5, 56),
 (9, 53),
 (6, 62),
 (7, 123),
 (7, 180),
 (11, 92),
 (5, 127),
 (7, 101),
 (7, 82),
 (7, 58),
 (9, 137),
 (5, 117),
 (10, 185),
 (7, 111),
 (4, 168),
 (9, 136),
 (5, 86),
 (5, 49),
 (6, 91),
 (7, 70),
 (6, 155),
 (8, 60),
 (5, 165),
 (6, 149),
 (8, 93),
 (6, 105),
 (4, 97),
 (9, 152),
 (10, 75),
 (4, 124),
 (10, 114),
 (10, 181),
 (4, 156),
 (5, 166),
 (9, 126),
 (10, 135),
 (8, 132),
 (13, 112),
 (5, 131),
 (10, 61),
 (10, 176),
 (2, 96),
 (6, 87),
 (8, 67),
 (10, 178),
 (6, 169),
 (10, 107),
 (7, 142),
 (2, 66),
 (9, 147),
 (6, 160),
 (6, 89),
 (8, 121),
 (9, 50),
 (9, 161),
 (5, 108),
 (6, 157),
 (7, 154),
 (7, 57),
 (7, 109),
 (7, 51),
 (7, 65),
 (7, 76),
 (7, 52),
 (6, 69),
 (17, 85),
 (7, 173),
 (3, 81),
 (6, 79),
 (4, 164),
 (5, 90),
 (5, 134),
 (5, 146),
 (11, 139),
 (9, 59),
 (6, 78),
 (7, 143),
 (8, 98),
 (5, 133),
 (8, 150),
 (12, 100),
 (7, 167),
 (6, 158),
 (8, 113),
 (8, 172),
 (4, 116),
 (9, 63),
 (5, 183),
 (8, 184),
 (4, 170),
 (9, 64),
 (2, 55),
 (5, 68),
 (13, 84),
 (8, 118),
 (4, 88),
 (7, 145),
 (6, 130),
 (7, 128),
 (6, 104),
 (12, 74),
 (7, 163),
 (11, 102),
 (7, 71),
 (6, 159),
 (4, 72),
 (6, 177),
 (7, 141),
 (8, 144)]