In [1]:
from sqlalchemy import create_engine, select, Column, Integer, String, Date, ForeignKey, PrimaryKeyConstraint
from sqlalchemy.orm import sessionmaker, relationship
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, MetaData, Table

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"
db = create_engine(db_string)

engine = create_engine(db_string)

metadata = MetaData()

dic_table = {}
for table_name in engine.table_names():
    dic_table[table_name] = Table(table_name, metadata , autoload=True, autoload_with=engine)

session = (sessionmaker(bind=engine))()

Base = declarative_base()

C:\Users\User\AppData\Local\Temp/ipykernel_6844/4067978730.py:14: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  for table_name in engine.table_names():

In [2]:
class Actor(Base):
    __tablename__ = 'actor'
    actor_id = Column(Integer, primary_key=True)
    first_name = Column(String(45))
    last_name = Column(String(45))
    last_update  = Column(Date) 

class Film_actor(Base):
    __tablename__ = 'film_actor'
    actor_id = Column(Integer,  ForeignKey('actor.actor_id'))
    film_id = Column(Integer,  ForeignKey('film.film_id'))
    PrimaryKeyConstraint(actor_id,film_id)
    last_update  = Column(Date) 

class Film(Base):
    __tablename__ = 'film'
    film_id = Column(Integer, primary_key=True)
    title = Column(String(255))
    description  = Column(String(255))
    release_year  = Column(Date)
    language_id = Column(Integer, ForeignKey('language.language_id'))
    rental_duration = Column(Integer)
    length  = Column(Integer)
    special_features  = Column(String(255))
    fulltext  = Column(String(255))
    last_update  = Column(Date)

In [3]:
from sqlalchemy import select

# select * from category

mapper_stmt = select([dic_table['actor'].c.first_name]).group_by(dic_table['actor'].c.first_name)

print('Mapper group: ')
print(mapper_stmt)

session_stmt = session.query(Actor.first_name, Actor.last_name).group_by(Actor.first_name,Actor.last_name)
print('Session group by: ')
print(session_stmt)

Mapper group:
SELECT actor.first_name
FROM actor GROUP BY actor.first_name
Session group by:
SELECT actor.first_name AS actor_first_name, actor.last_name AS actor_last_name
FROM actor GROUP BY actor.first_name, actor.last_name

In [8]:
from sqlalchemy import func 

session_stmt = session.query(Actor.first_name, Actor.last_name).group_by(Actor.first_name,Actor.last_name).having(func.count(Actor.first_name) > 1)
session_result = session_stmt.all()
session_result

[('Susan', 'Davis')]

In [9]:
session_stmt = session.query(func.upper(Actor.first_name), func.lower(Actor.last_name))
session_result = session_stmt.all()
session_result

[('PENELOPE', 'guiness'),
 ('NICK', 'wahlberg'),
 ('ED', 'chase'),
 ('JENNIFER', 'davis'),
 ('JOHNNY', 'lollobrigida'),
 ('BETTE', 'nicholson'),
 ('GRACE', 'mostel'),
 ('MATTHEW', 'johansson'),
 ('JOE', 'swank'),
 ('CHRISTIAN', 'gable'),
 ('ZERO', 'cage'),
 ('KARL', 'berry'),
 ('UMA', 'wood'),
 ('VIVIEN', 'bergen'),
 ('CUBA', 'olivier'),
 ('FRED', 'costner'),
 ('HELEN', 'voight'),
 ('DAN', 'torn'),
 ('BOB', 'fawcett'),
 ('LUCILLE', 'tracy'),
 ('KIRSTEN', 'paltrow'),
 ('ELVIS', 'marx'),
 ('SANDRA', 'kilmer'),
 ('CAMERON', 'streep'),
 ('KEVIN', 'bloom'),
 ('RIP', 'crawford'),
 ('JULIA', 'mcqueen'),
 ('WOODY', 'hoffman'),
 ('ALEC', 'wayne'),
 ('SANDRA', 'peck'),
 ('SISSY', 'sobieski'),
 ('TIM', 'hackman'),
 ('MILLA', 'peck'),
 ('AUDREY', 'olivier'),
 ('JUDY', 'dean'),
 ('BURT', 'dukakis'),
 ('VAL', 'bolger'),
 ('TOM', 'mckellen'),
 ('GOLDIE', 'brody'),
 ('JOHNNY', 'cage'),
 ('JODIE', 'degeneres'),
 ('TOM', 'miranda'),
 ('KIRK', 'jovovich'),
 ('NICK', 'stallone'),
 ('REESE', 'kilmer'),
 ('PARKER', 'goldberg'),
 ('JULIA', 'barrymore'),
 ('FRANCES', 'day-lewis'),
 ('ANNE', 'cronyn'),
 ('NATALIE', 'hopkins'),
 ('GARY', 'phoenix'),
 ('CARMEN', 'hunt'),
 ('MENA', 'temple'),
 ('PENELOPE', 'pinkett'),
 ('FAY', 'kilmer'),
 ('DAN', 'harris'),
 ('JUDE', 'cruise'),
 ('CHRISTIAN', 'akroyd'),
 ('DUSTIN', 'tautou'),
 ('HENRY', 'berry'),
 ('CHRISTIAN', 'neeson'),
 ('JAYNE', 'neeson'),
 ('CAMERON', 'wray'),
 ('RAY', 'johansson'),
 ('ANGELA', 'hudson'),
 ('MARY', 'tandy'),
 ('JESSICA', 'bailey'),
 ('RIP', 'winslet'),
 ('KENNETH', 'paltrow'),
 ('MICHELLE', 'mcconaughey'),
 ('ADAM', 'grant'),
 ('SEAN', 'williams'),
 ('GARY', 'penn'),
 ('MILLA', 'keitel'),
 ('BURT', 'posey'),
 ('ANGELINA', 'astaire'),
 ('CARY', 'mcconaughey'),
 ('GROUCHO', 'sinatra'),
 ('MAE', 'hoffman'),
 ('RALPH', 'cruz'),
 ('SCARLETT', 'damon'),
 ('WOODY', 'jolie'),
 ('BEN', 'willis'),
 ('JAMES', 'pitt'),
 ('MINNIE', 'zellweger'),
 ('RIVER', 'dean'),
 ('GREG', 'chaplin'),
 ('SPENCER', 'peck'),
 ('KENNETH', 'pesci'),
 ('CHARLIZE', 'dench'),
 ('SEAN', 'guiness'),
 ('CHRISTOPHER', 'berry'),
 ('KIRSTEN', 'akroyd'),
 ('ELLEN', 'presley'),
 ('KENNETH', 'torn'),
 ('DARYL', 'wahlberg'),
 ('GENE', 'willis'),
 ('MEG', 'hawke'),
 ('CHRIS', 'bridges'),
 ('JIM', 'mostel'),
 ('SPENCER', 'depp'),
 ('SUSAN', 'davis'),
 ('WALTER', 'torn'),
 ('MATTHEW', 'leigh'),
 ('PENELOPE', 'cronyn'),
 ('SIDNEY', 'crowe'),
 ('GROUCHO', 'dunst'),
 ('GINA', 'degeneres'),
 ('WARREN', 'nolte'),
 ('SYLVESTER', 'dern'),
 ('SUSAN', 'davis'),
 ('CAMERON', 'zellweger'),
 ('RUSSELL', 'bacall'),
 ('MORGAN', 'hopkins'),
 ('MORGAN', 'mcdormand'),
 ('HARRISON', 'bale'),
 ('DAN', 'streep'),
 ('RENEE', 'tracy'),
 ('CUBA', 'allen'),
 ('WARREN', 'jackman'),
 ('PENELOPE', 'monroe'),
 ('LIZA', 'bergman'),
 ('SALMA', 'nolte'),
 ('JULIANNE', 'dench'),
 ('SCARLETT', 'bening'),
 ('ALBERT', 'nolte'),
 ('FRANCES', 'tomei'),
 ('KEVIN', 'garland'),
 ('CATE', 'mcqueen'),
 ('DARYL', 'crawford'),
 ('GRETA', 'keitel'),
 ('JANE', 'jackman'),
 ('ADAM', 'hopper'),
 ('RICHARD', 'penn'),
 ('GENE', 'hopkins'),
 ('RITA', 'reynolds'),
 ('ED', 'mansfield'),
 ('MORGAN', 'williams'),
 ('LUCILLE', 'dee'),
 ('EWAN', 'gooding'),
 ('WHOOPI', 'hurt'),
 ('CATE', 'harris'),
 ('JADA', 'ryder'),
 ('ANGELA', 'witherspoon'),
 ('KIM', 'allen'),
 ('ALBERT', 'johansson'),
 ('FAY', 'winslet'),
 ('EMILY', 'dee'),
 ('RUSSELL', 'temple'),
 ('JAYNE', 'nolte'),
 ('GEOFFREY', 'heston'),
 ('BEN', 'harris'),
 ('MINNIE', 'kilmer'),
 ('MERYL', 'gibson'),
 ('IAN', 'tandy'),
 ('FAY', 'wood'),
 ('GRETA', 'malden'),
 ('VIVIEN', 'basinger'),
 ('LAURA', 'brody'),
 ('CHRIS', 'depp'),
 ('HARVEY', 'hope'),
 ('OPRAH', 'kilmer'),
 ('CHRISTOPHER', 'west'),
 ('HUMPHREY', 'willis'),
 ('AL', 'garland'),
 ('NICK', 'degeneres'),
 ('LAURENCE', 'bullock'),
 ('WILL', 'wilson'),
 ('KENNETH', 'hoffman'),
 ('MENA', 'hopper'),
 ('OLYMPIA', 'pfeiffer'),
 ('GROUCHO', 'williams'),
 ('ALAN', 'dreyfuss'),
 ('MICHAEL', 'bening'),
 ('WILLIAM', 'hackman'),
 ('JON', 'chase'),
 ('GENE', 'mckellen'),
 ('LISA', 'monroe'),
 ('ED', 'guiness'),
 ('JEFF', 'silverstone'),
 ('MATTHEW', 'carrey'),
 ('DEBBIE', 'akroyd'),
 ('RUSSELL', 'close'),
 ('HUMPHREY', 'garland'),
 ('MICHAEL', 'bolger'),
 ('JULIA', 'zellweger'),
 ('RENEE', 'ball'),
 ('ROCK', 'dukakis'),
 ('CUBA', 'birch'),
 ('AUDREY', 'bailey'),
 ('GREGORY', 'gooding'),
 ('JOHN', 'suvari'),
 ('BURT', 'temple'),
 ('MERYL', 'allen'),
 ('JAYNE', 'silverstone'),
 ('BELA', 'walken'),
 ('REESE', 'west'),
 ('MARY', 'keitel'),
 ('JULIA', 'fawcett'),
 ('THORA', 'temple')]