# MySQL database

### <span style='color:Yellow'> 1. Create a script to connection with database.  </span>

In [1]:
from sqlalchemy import create_engine, MetaData, Table

db_string = "mysql://bauer1:W0JjW9jge2SYwwYh@mysql.agh.edu.pl:3306/bauer1"

db = create_engine(db_string)

print(db.table_names())

C:\Users\User\AppData\Local\Temp/ipykernel_6024/3525206458.py:7: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(db.table_names())

['bookings', 'cities', 'countries', 'customers', 'employees', 'hosts', 'offices', 'orderdetails', 'orders', 'payments', 'places', 'productlines', 'products', 'reviews', 'users']

### <span style='color:Yellow'> 2. Based on information_schema, present how to explore the relationships between the tables: </span>

 The way to explore the relationships between the tables is to check the primary key and foreign key of each columns in both tables. A primary key is used to ensure data in the specific column is unique. A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

### <span style='color:Lime'> i) customers and employees

In [2]:
metadata = MetaData()
table_customers = Table('customers', metadata , autoload=True, autoload_with=db)
table_employees = Table('employees', metadata , autoload=True, autoload_with=db)

print(' Customers: ')
print(repr(table_customers))
print(table_customers.columns.keys())

print('\n Employees: ')
print(repr(table_employees))
print(table_employees.columns.keys())

 Customers:
Table('customers', MetaData(), Column('customerNumber', INTEGER(display_width=11), table=<customers>, primary_key=True, nullable=False), Column('customerName', VARCHAR(length=50), table=<customers>, nullable=False), Column('contactLastName', VARCHAR(length=50), table=<customers>, nullable=False), Column('contactFirstName', VARCHAR(length=50), table=<customers>, nullable=False), Column('phone', VARCHAR(length=50), table=<customers>, nullable=False), Column('addressLine1', VARCHAR(length=50), table=<customers>, nullable=False), Column('addressLine2', VARCHAR(length=50), table=<customers>), Column('city', VARCHAR(length=50), table=<customers>, nullable=False), Column('state', VARCHAR(length=50), table=<customers>), Column('postalCode', VARCHAR(length=15), table=<customers>), Column('country', VARCHAR(length=50), table=<customers>, nullable=False), Column('salesRepEmployeeNumber', INTEGER(display_width=11), ForeignKey('employees.employeeNumber'), table=<customers>), Column('creditLimit', DECIMAL(precision=10, scale=2), table=<customers>), schema=None)
['customerNumber', 'customerName', 'contactLastName', 'contactFirstName', 'phone', 'addressLine1', 'addressLine2', 'city', 'state', 'postalCode', 'country', 'salesRepEmployeeNumber', 'creditLimit']

 Employees:
Table('employees', MetaData(), Column('employeeNumber', INTEGER(display_width=11), table=<employees>, primary_key=True, nullable=False), Column('lastName', VARCHAR(length=50), table=<employees>, nullable=False), Column('firstName', VARCHAR(length=50), table=<employees>, nullable=False), Column('extension', VARCHAR(length=10), table=<employees>, nullable=False), Column('email', VARCHAR(length=100), table=<employees>, nullable=False), Column('officeCode', VARCHAR(length=10), ForeignKey('offices.officeCode'), table=<employees>, nullable=False), Column('reportsTo', INTEGER(display_width=11), ForeignKey('employees.employeeNumber'), table=<employees>), Column('jobTitle', VARCHAR(length=50), table=<employees>, nullable=False), schema=None)
['employeeNumber', 'lastName', 'firstName', 'extension', 'email', 'officeCode', 'reportsTo', 'jobTitle']

### <span style='color:red'> Result: </span>

We can see that in the Customers table there is one column 'salesRepEmployeeNumber' has ForeignKey to the Employees table column 'employeeNumber'. And in the Employees table has two column 'officeCode' and 'reportsTo' have ForeignKey. Therefore, we can there are relationships between them.

### <span style='color:Lime'> ii) customers, payments and orders

In [3]:
table_payments = Table('payments', metadata , autoload=True, autoload_with=db)
table_orders= Table('orders', metadata , autoload=True, autoload_with=db)

print('\n Payments: ')
print(repr(table_payments))
print(table_payments.columns.keys())

print('\n Orders: ')
print(repr(table_orders))
print(table_orders.columns.keys())

 Payments:
Table('payments', MetaData(), Column('customerNumber', INTEGER(display_width=11), ForeignKey('customers.customerNumber'), table=<payments>, primary_key=True, nullable=False), Column('checkNumber', VARCHAR(length=50), table=<payments>, primary_key=True, nullable=False), Column('paymentDate', DATE(), table=<payments>, nullable=False), Column('amount', DECIMAL(precision=10, scale=2), table=<payments>, nullable=False), schema=None)
['customerNumber', 'checkNumber', 'paymentDate', 'amount']

 Orders:
Table('orders', MetaData(), Column('orderNumber', INTEGER(display_width=11), table=<orders>, primary_key=True, nullable=False), Column('orderDate', DATE(), table=<orders>, nullable=False), Column('requiredDate', DATE(), table=<orders>, nullable=False), Column('shippedDate', DATE(), table=<orders>), Column('status', VARCHAR(length=15), table=<orders>, nullable=False), Column('comments', TEXT(), table=<orders>), Column('customerNumber', INTEGER(display_width=11), ForeignKey('customers.customerNumber'), table=<orders>, nullable=False), schema=None)
['orderNumber', 'orderDate', 'requiredDate', 'shippedDate', 'status', 'comments', 'customerNumber']

### <span style='color:red'> Result: </span>

We can see that in the Payments table there is one column 'customerNumber' has ForeignKey to the Customers table column 'customerNumber'. And the same goes for the Employees table. Therefore, we can there are relationships between three of them.

### <span style='color:Yellow'> 3. How many products are in the store? </span>

In [11]:
from sqlalchemy import select
from sqlalchemy import select, func, Integer, Table, Column, MetaData

table_products = Table('products', metadata , autoload=True, autoload_with=db)
print(select([func.count()]).select_from(table_products))
# print(' Products: ')
# stmt = select([table_products])
# print(stmt)
# print(table_products.columns.keys())
# results = db.execute(stmt).fetchmany(size=30)
# results

SELECT count(*) AS count_1
FROM products