In [1]:
from sqlalchemy import create_engine

engine_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

engine = create_engine(engine_string)

In [5]:
from sqlalchemy import create_engine, MetaData, Table

metadata = MetaData()

dic_table = {}
for table_name in engine.table_names():
    dic_table[table_name] = Table(table_name, metadata , autoload=True, autoload_with=engine)
	
print(repr(dic_table['category']))

C:\Users\User\AppData\Local\Temp/ipykernel_16552/1137802889.py:6: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  for table_name in engine.table_names():

Table('category', MetaData(), Column('category_id', INTEGER(), table=<category>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EDAC100E80>, for_update=False)), Column('name', VARCHAR(length=25), table=<category>, nullable=False), Column('last_update', TIMESTAMP(), table=<category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001EDAC103490>, for_update=False)), schema=None)

In [6]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

from sqlalchemy import Column, Integer, String, Date, ForeignKey

session = (sessionmaker(bind=engine))()

Base = declarative_base()

class Category(Base):
    __tablename__ = 'category'
    category_id  = Column(Integer, primary_key=True)
    name = Column(String(50))
    last_update  = Column(Date)
    def __str__(self):
        return 'Category id:{0}\nCategory name: {1}\nCategory last_update: {2}'.format(self.category_id,self.name,self.last_update)

In [7]:
stmt = 'select * from category'

results = engine.execute(stmt).fetchall()

print(results)

[(1, 'Action', datetime.datetime(2006, 2, 15, 9, 46, 27)), (2, 'Animation', datetime.datetime(2006, 2, 15, 9, 46, 27)), (3, 'Children', datetime.datetime(2006, 2, 15, 9, 46, 27)), (4, 'Classics', datetime.datetime(2006, 2, 15, 9, 46, 27)), (5, 'Comedy', datetime.datetime(2006, 2, 15, 9, 46, 27)), (6, 'Documentary', datetime.datetime(2006, 2, 15, 9, 46, 27)), (7, 'Drama', datetime.datetime(2006, 2, 15, 9, 46, 27)), (8, 'Family', datetime.datetime(2006, 2, 15, 9, 46, 27)), (9, 'Foreign', datetime.datetime(2006, 2, 15, 9, 46, 27)), (10, 'Games', datetime.datetime(2006, 2, 15, 9, 46, 27)), (11, 'Horror', datetime.datetime(2006, 2, 15, 9, 46, 27)), (12, 'Music', datetime.datetime(2006, 2, 15, 9, 46, 27)), (13, 'New', datetime.datetime(2006, 2, 15, 9, 46, 27)), (14, 'Sci-Fi', datetime.datetime(2006, 2, 15, 9, 46, 27)), (15, 'Sports', datetime.datetime(2006, 2, 15, 9, 46, 27)), (16, 'Travel', datetime.datetime(2006, 2, 15, 9, 46, 27))]

In [8]:
from sqlalchemy import select

# select * from category

mapper_stmt = select([dic_table['category']])
print('Mapper select: ')
print(mapper_stmt)

session_stmt = session.query(Category)
print('\nSession select: ')
print(session_stmt)

Mapper select:
SELECT category.category_id, category.name, category.last_update
FROM category

Session select:
SELECT category.category_id AS category_category_id, category.name AS category_name, category.last_update AS category_last_update
FROM category

In [9]:
mapper_results = engine.execute(mapper_stmt).fetchall()
print(results)

[(1, 'Action', datetime.datetime(2006, 2, 15, 9, 46, 27)), (2, 'Animation', datetime.datetime(2006, 2, 15, 9, 46, 27)), (3, 'Children', datetime.datetime(2006, 2, 15, 9, 46, 27)), (4, 'Classics', datetime.datetime(2006, 2, 15, 9, 46, 27)), (5, 'Comedy', datetime.datetime(2006, 2, 15, 9, 46, 27)), (6, 'Documentary', datetime.datetime(2006, 2, 15, 9, 46, 27)), (7, 'Drama', datetime.datetime(2006, 2, 15, 9, 46, 27)), (8, 'Family', datetime.datetime(2006, 2, 15, 9, 46, 27)), (9, 'Foreign', datetime.datetime(2006, 2, 15, 9, 46, 27)), (10, 'Games', datetime.datetime(2006, 2, 15, 9, 46, 27)), (11, 'Horror', datetime.datetime(2006, 2, 15, 9, 46, 27)), (12, 'Music', datetime.datetime(2006, 2, 15, 9, 46, 27)), (13, 'New', datetime.datetime(2006, 2, 15, 9, 46, 27)), (14, 'Sci-Fi', datetime.datetime(2006, 2, 15, 9, 46, 27)), (15, 'Sports', datetime.datetime(2006, 2, 15, 9, 46, 27)), (16, 'Travel', datetime.datetime(2006, 2, 15, 9, 46, 27))]

In [10]:
session_results = session_stmt.all()
# all results print
print('All results: ')
print(session_results)
# print information from first category in result list
print('\nFirst category:')
print(session_results[0])

All results:
[<__main__.Category object at 0x000001EDAC169B50>, <__main__.Category object at 0x000001EDAC1698B0>, <__main__.Category object at 0x000001EDAC169790>, <__main__.Category object at 0x000001EDAC169700>, <__main__.Category object at 0x000001EDAC169670>, <__main__.Category object at 0x000001EDAC1695B0>, <__main__.Category object at 0x000001EDAC1694F0>, <__main__.Category object at 0x000001EDAC179040>, <__main__.Category object at 0x000001EDAC1790D0>, <__main__.Category object at 0x000001EDAC179160>, <__main__.Category object at 0x000001EDAC1791F0>, <__main__.Category object at 0x000001EDAC179280>, <__main__.Category object at 0x000001EDAC179310>, <__main__.Category object at 0x000001EDAC1793A0>, <__main__.Category object at 0x000001EDAC179430>, <__main__.Category object at 0x000001EDAC1794C0>]

First category:
Category id:1
Category name: Action
Category last_update: 2006-02-15 09:46:27

In [11]:
mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name])

session_stmt = session.query(Category.category_id, Category.name)

In [12]:
class Category_filter(Base):
    __tablename__ = 'category'
    __table_args__ = {'extend_existing': True}
    category_id  = Column(Integer, primary_key=True)
    name = Column(String(50))
    def __str__(self):
        return 'Category id:{0}\nCategory name: {1}'.format(self.category_id,self.name)
    
q = session.query(Category_filter)
print(q)

SELECT category.category_id AS category_category_id, category.name AS category_name, category.last_update AS category_last_update
FROM category

In [13]:
mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name]).where(dic_table['category'].columns.name == 'Games')

In [14]:
session_stmt = session.query(Category.category_id, Category.name).filter(Category.name == 'Games')

In [15]:
from sqlalchemy import or_, and_

mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name]).\
where(and_(\
            or_(dic_table['category'].columns.category_id > 10,dic_table['category'].columns.category_id < 2), \
            or_(dic_table['category'].columns.category_id > 3,dic_table['category'].columns.category_id < 5)))

session_stmt = session.query(Category_filter).\
filter(and_(\
            or_(Category_filter.category_id > 10,Category_filter.category_id < 2), \
            or_(Category_filter.category_id > 3,Category_filter.category_id < 5)))

In [16]:

mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name]).\
where(and_(\
            or_(dic_table['category'].columns.category_id > 10,dic_table['category'].columns.category_id < 2),\
            or_(dic_table['category'].columns.category_id > 3,dic_table['category'].columns.category_id < 5),\
      dic_table['category'].columns.name.in_(['Sci-Fi','Horror','Action'])
     ))

session_stmt = session.query(Category_filter).\
filter(and_(\
            or_(Category_filter.category_id > 10,Category_filter.category_id < 2), \
            or_(Category_filter.category_id > 3,Category_filter.category_id < 5)),\
       Category_filter.name.in_(['Sci-Fi','Horror','Action'])
      )

In [18]:
mapper_stmt = select([dic_table['category'].columns.category_id,dic_table['category'].columns.name]).\
where(and_(\
            or_(dic_table['category'].columns.category_id > 10,dic_table['category'].columns.category_id < 2), \
            or_(dic_table['category'].columns.category_id > 3,dic_table['category'].columns.category_id < 5))).\
order_by(dic_table['category'].columns.name)

mapper_results = engine.execute(mapper_stmt).fetchall()

print(mapper_results)

[(1, 'Action'), (11, 'Horror'), (12, 'Music'), (13, 'New'), (14, 'Sci-Fi'), (15, 'Sports'), (16, 'Travel')]

In [19]:
session_stmt_asc= session.query(Category_filter).\
filter(and_(\
            or_(Category_filter.category_id > 10,Category_filter.category_id < 2), \
            or_(Category_filter.category_id > 3,Category_filter.category_id < 5))).\
order_by(Category_filter.name)

session_stmt_desc= session.query(Category_filter).\
filter(and_(\
            or_(Category_filter.category_id > 10,Category_filter.category_id < 2), \
            or_(Category_filter.category_id > 3,Category_filter.category_id < 5))).\
order_by(Category_filter.name.desc())

In [20]:
mapper_stmt = select([dic_table['category'].columns.category_id.label('id'),dic_table['category'].columns.name.label('category name')])
print(mapper_stmt)

SELECT category.category_id AS id, category.name AS "category name"
FROM category

In [21]:
session_stmt= session.query(Category_filter.category_id.label('id'), Category_filter.name.label('category name'))
print(session_stmt)

SELECT category.category_id AS id, category.name AS "category name"
FROM category

In [22]:
mapper_stmt = select([dic_table['category'].columns.category_id.label('id'),dic_table['category'].columns.name.label('category name')]).limit(3)
print(mapper_stmt)

SELECT category.category_id AS id, category.name AS "category name"
FROM category
 LIMIT :param_1

In [23]:
session_stmt= session.query(Category_filter.category_id.label('id'), Category_filter.name.label('category name')).limit(3)
print(session_stmt)

SELECT category.category_id AS id, category.name AS "category name"
FROM category
 LIMIT %(param_1)s